* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  text-align: center;
  height: 100vh;
  width: 100%;
}

.number {
  padding: 30px 0;
  font-size: 50px;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.increase {
  margin-top: 40px;
  margin-right: 20px;
  width: 100px;
  height: 50px;
}

.decrease {
  margin-top: 40px;
  width: 100px;
  height: 50px;
}

.changeColor {
  position: absolute;
  left: 15px;
  width: 120px;
  height: 50px;
  background-color: blue;
  color: #fff;
  font-size: 23px;
  font-weight: bold;
}
